<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wy.music.dao.JudgeMapper">


    <!--查询所有判断题-->
    <select id="selectAll"  resultType="Judge">
    select id,text,answer from judge where 1 = 1
    <if test='text !=null and text != ""'>
        and text like concat('%',#{text},'%')
    </if>
    limit #{start},#{size}
    </select>

    <!--查询总记录数-->
    <select id="findTotal" resultType="Long">
        select count(id) from judge where 1 = 1
        <if test='text !=null and text !=""'>
            and text like concat('%',#{text},'%')
        </if>
    </select>

    <!--查询所有判断题-->
    <select id="selectAllTest"  resultType="Judge">
        select id,text,answer from judge
    </select>
</mapper>